<?xml version="1.0"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="db1" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\Printex.mdf;Integrated Security=yes;User Instance=True" providerName="System.Data.SqlClient"/>
      <add name="Remote" connectionString="Server=Mujeeb-pc;User ID=sa; Database=Finance; Password=sa0101" providerName="System.Data.SqlClient"/>
      <add name="Con" connectionString="Server=Mujeeb-pc;User ID=sa; Database=Finance; Password=sa0101" providerName="System.Data.SqlClient"/>
        <add name="ConImage" connectionString="Server=Mujeeb-pc;User ID=sa; Database=ImageDB; Password=sa0101" providerName="System.Data.SqlClient"/>
      <add name="Mstr" connectionString="Server=Mujeeb-pc;User ID=sa; Database=Master; Password=sa0101" providerName="System.Data.SqlClient"/>
        <add name="Con1" connectionString="Data Source=192.168.1.81\sqlexpres;AttachDbFilename=|DataDirectory|\Printex.mdf;User Instance=True;User ID=sa;  Password=sa0101" providerName="System.Data.SqlClient"/>
        <add name="cardex.Properties.Settings.Db1ConnectionString" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\Db1.mdf;Integrated Security=True;User Instance=True" providerName="System.Data.SqlClient"/>
        <add name="cardex.Properties.Settings.PrintexConnectionString" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\Printex.mdf;Integrated Security=True;Connect Timeout=30;User Instance=True" providerName="System.Data.SqlClient"/>
    </connectionStrings>
    
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
